
<h1>The Animals Details</h1>
<br>
<p>Animal Name: @Model.Name</p>  
<p>Species: @Model.Species</p>
<p>Age: @Model.Age</p>
<p>Gender: @Model.Gender</p>


<a href="/Animals/Delete/@(Model.AnimalId)">Delete this Animal</a>
<br>
<a href="/Animals/Edit/@(Model.AnimalId)">Edit this Animal</a>







